.nav {
    font-weight: 600;
    position: fixed;
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    top: 0;
    /* Đặt top thành 0 để nó cố định ở phía trên cùng của trang */
    left: 0;

    /* Đặt left thành 0 để nó cố định ở phía bên trái của trang */
    .nav__links .nav-link.text-black {
        text-decoration: none;
        color: black;
        transition: color 0.3s;
        /* Thời gian chuyển đổi màu sắc khi hover */
        position: relative;
        /* Đặt vị trí là tương đối để sử dụng một số hiệu ứng */
    }


    .nav__links .nav-link.text-black:hover::before {
        content: '';
        /* Tạo một phần tử pseudo-element để làm hiệu ứng underline */
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        /* Độ dày và chiều cao của underline */
        background-color: #ff5733;
        /* Màu của underline khi hover */
    }

    z-index: 1000;

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        font-size: 25px;
        font-weight: 900;
    }

    &__links {
        display: flex;
        gap: 0px 50px;

        .header {
            margin-top: 15px;
            display: flex;
        }



    }

    &__search {
        width: 400px;
        margin-top: auto;
    }

    li {
        position: relative;

        Link {
            font-size: 30px;
            color: rgb(0, 0, 0);
        }

        span {
            position: absolute;
            width: 80%;
            height: 3px;
            background: linear-gradient(90deg, #FE8E5C 0%, #F5576C 100%);
            bottom: -8px;
            left: 0;
        }
    }
}