.profile {
    margin-top: 150px;

    &_avatar {
        width: 500px;
        display: flex;
        border-radius: 50%;


    }

    &_detail {
        margin-left: 500px;
    }

    .container {
        width: auto;
        padding: 50px;

        box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.6);
    }
}
.profile_avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover;
}
.modal-dialog{
    border-radius: 8px;
box-shadow: 9px 4px 7px -5px rgba(0,0,0,0.47);
-webkit-box-shadow: 9px 4px 7px -5px rgba(0,0,0,0.47);
-moz-box-shadow: 9px 4px 7px -5px rgba(0,0,0,0.47);
box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
border: 3px solid black;
margin-bottom:7px;
}