body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Trong tệp CSS của bạn hoặc inline CSS */
.custom-card {
  position: relative;
}

.custom-card .custom-checkbox {
  position: absolute;
  top: 10px; /* Điều chỉnh vị trí theo y để đưa nó lên trên */
  left: 10px; /* Điều chỉnh vị trí theo x để đưa nó sang trái */
}

.custom-card .custom-checkbox input[type="checkbox"] {
  width: 20px; /* Điều chỉnh chiều rộng của checkbox */
  height: 20px; /* Điều chỉnh chiều cao của checkbox */
  margin-right: 5px; /* Khoảng cách giữa checkbox và văn bản */
  border: 2px solid #e01c1c; /* Thêm đường viền cho checkbox */
  border-radius: 10px; /* Điều chỉnh độ cong của đường viền */
}

.custom-card .custom-checkbox label {
  background: white; /* Để checkbox không bị che khuất bởi hình ảnh */
  padding: 5px; /* Điều chỉnh khoảng cách từ checkbox đến viền thẻ */
  border-radius: 4px; /* Để làm cho checkbox trông tốt hơn */
}
